@inherits LayoutComponentBase

<Navbar />

<section class="section">
    <div class="columns ">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <Menu />
        </div>
    </div>
</section>
