@inject StateContainer StateContainer

<aside class="menu">
    @foreach(var group in this.Groups)
    {
        <p class="menu-label">@group.Id</p>
        <ul class="menu-list">
            @foreach(var account in group.Accounts)
            {
                <li><a class="@(account.IsActive ? "is-active" : string.Empty)" @onclick="() => SetAccountAsSelected(account)">@account.Id</a></li>
            }
        </ul>
    }
</aside>

@code {

    public class Group
    {
        public string Id { get; set; } = "";
        public List<Account> Accounts { get; set; } = new List<Account>();
    }

    public class Account
    {
        public string Id { get; set; } = "";
        public bool IsActive { get; set; }
    }

    public List<Group> Groups = new List<Group>
    {
        new Group
        {
            Id = "Generl",
            Accounts = new List<Account>
            {
                new Account { Id = "User 1" },
                new Account { Id = "User 2" },
                new Account { Id = "User 3" }
            }
        },
        new Group
        {
            Id = "IT",
            Accounts = new List<Account>
            {
                new Account { Id = "User 4" },
                new Account { Id = "User 5" },
                new Account { Id = "User 6" },
            }
        },
        new Group
        {
            Id = "Sport",
            Accounts = new List<Account>
            {
                new Account { Id = "User 7" },
                new Account { Id = "User 8" },
                new Account { Id = "User 9" },
            }
        }
    };

    public void SetAccountAsSelected(Account account)
    {
        var prev = (from g in this.Groups
                    from a in g.Accounts
                    where a.Id == this.StateContainer.SelectedAccountId
                    select a).FirstOrDefault();


        if (prev != null)
        {
            prev.IsActive = false;
        }

        var current = (from g in this.Groups
                       from a in g.Accounts
                       where a.Id == account.Id
                       select a).FirstOrDefault();


        if (current != null)
        {
            current.IsActive = true;
            this.StateContainer.SelectedAccountId = account.Id;
        }
    }
}
