<aside class="menu ">
    <p class="menu-label ">
        General
    </p>
    <ul class="menu-list">
        <li>
            <a>User 1</a>
        </li>
        <li>
            <a >User 2</a>
        </li>
        <li>
            <a >User 3</a>
        </li>

        <li>
            <a >User 4</a>
        </li>
    </ul>
    <p class="menu-label ">
        IT
    </p>
    <ul class="menu-list ">
        <li>
            <a >User 5</a>
        </li>
        <li>
            <a >User 6</a>
        </li>
        <li>
            <a >User 7</a>
        </li>
    </ul>
    <p class="menu-label ">
        Sport
    </p>
    <ul class="menu-list ">
        <li>
            <a >User 8</a>
        </li>
        <li>
            <a >User 9</a>
        </li>
        <li>
            <a >User 10</a>
        </li>
    </ul>
</aside>

@code {

}
