<nav class="navbar has-shadow">
    <div class="navbar-brand">
        <span class="navbar-item">News Feed</span>
        <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

@code {

}
