@implements IDisposable
@inject StateContainer StateContainer
@inject HttpClient Http
@inject TwitterNewsFeedApiClient apiClient

<div class="w3-sidebar w3-bar-block w3-collapse" style="width:200px;" id="mySidebar">
    <div class="w3-sidebar w3-bar-block w3-card" style="width:160px;">
        <h3 class="w3-container">NewsFeed</h3>
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
        <hr />
        <a href="#" class="w3-bar-item w3-button">GetAll</a>
        <hr />
        <div class="w3-bar-item w3-button" onclick="myAccFunc('particularAcc')">
            Particular <i class="fa fa-caret-down"></i>
        </div>
        <div id="particularAcc" class="w3-hide w3-card-4 w3-show">
            <a href="#" class="w3-bar-item w3-button">GetAll</a>
            <a href="#" class="w3-bar-item w3-button">@@udidahan</a>
            <a href="#" class="w3-bar-item w3-button">@@danielmarbach</a>
        </div>

        <div class="w3-bar-item w3-button" onclick="myAccFunc('tennisAcc')">
            Tennis <i class="fa fa-caret-down"></i>
        </div>
        <div id="tennisAcc" class="w3-hide w3-card-4 w3-show">
            <a href="#" class="w3-bar-item w3-button">GetAll</a>
            <a href="#" class="w3-bar-item w3-button">@@rafanadal</a>
            <a href="#" class="w3-bar-item w3-button">@@iga_swiatek</a>
        </div>
    </div>
</div>

<div class="w3-main" style="margin-left:200px" />
<button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>

@code
{
    private List<Group> groups = new List<Group>();
    private int selectedItemId;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}

@*ViewModel*@
@code
{
    public class Group
    {
        public int Id { get; set; }

        public string Name { get; set; } = string.Empty;

        public bool IsExpanded { get; set; }

        public List<User> Users { get; set; } = new List<User>();
    }

    public class User
    {
        public int Id { get; set; }

        public string Name { get; set; } = string.Empty;

        public string TwitterUserId { get; set; } = string.Empty;
    }
}

@code {

    protected override async Task OnInitializedAsync()
    {
        StateContainer.Subscribers += this.Handle;

        var result = await this.Http.GetStringAsync($"/twitter/accounts/{this.StateContainer.AccountId}/menu");
        this.groups = result.DeserializeXml<List<Group>>();
    }

    public void Dispose()
    {
        StateContainer.Subscribers -= this.Handle;
    }
}

@code {
    
    private void Handle(IMessage message)
    {
    }
}

@code
{
    private async void OnClick(Action action)
    {
        action();
        await this.OnClickCallback.InvokeAsync();
    }

    private void OnClickGroup(Group group)
    {
        this.OnClick(() =>
        {
            this.StateContainer.Publish(new GroupSelected(group.Id, group.Name));
        });
    }

    private void OnClickUser(User user)
    {
        this.OnClick(() =>
        { 
            this.StateContainer.Publish(new UserSelected(user.Id, user.Name, user.TwitterUserId));
        });
    }
}
